//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 19 17:05:45 2022
//! **************************************************************************

SCHEMATIC START;
COMP "anodo_pad<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodo_pad<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodo_pad<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodo_pad<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg_pad<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg_pad<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg_pad<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg_pad<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg_pad<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg_pad<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg_pad<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg_pad<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "fila_pad<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "fila_pad<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "fila_pad<3>" LOCATE = SITE "C12" LEVEL 1;
COMP "fila_pad<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "EppASTB" LOCATE = SITE "H1" LEVEL 1;
PIN EppASTB_pin<0> = BEL "EppASTB" PINNAME PAD;
PIN "EppASTB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EppDSTB" LOCATE = SITE "K4" LEVEL 1;
PIN EppDSTB_pin<0> = BEL "EppDSTB" PINNAME PAD;
PIN "EppDSTB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EppWAIT" LOCATE = SITE "C2" LEVEL 1;
COMP "signo_sal_pad" LOCATE = SITE "L4" LEVEL 1;
COMP "DB<0>" LOCATE = SITE "E1" LEVEL 1;
COMP "DB<1>" LOCATE = SITE "F4" LEVEL 1;
COMP "DB<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "DB<3>" LOCATE = SITE "D2" LEVEL 1;
COMP "DB<4>" LOCATE = SITE "D1" LEVEL 1;
COMP "DB<5>" LOCATE = SITE "H7" LEVEL 1;
COMP "DB<6>" LOCATE = SITE "G6" LEVEL 1;
COMP "DB<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "EppWRITE" LOCATE = SITE "F5" LEVEL 1;
COMP "col_pad<1>" LOCATE = SITE "E11" LEVEL 1;
COMP "col_pad<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "col_pad<3>" LOCATE = SITE "F10" LEVEL 1;
COMP "col_pad<4>" LOCATE = SITE "G11" LEVEL 1;
COMP "ck_100MHz_pad" LOCATE = SITE "V10" LEVEL 1;
COMP "ck_display_externo_pad" LOCATE = SITE "L3" LEVEL 1;
COMP "reset_pad" LOCATE = SITE "B8" LEVEL 1;
COMP "led_pad<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led_pad<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led_pad<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led_pad<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led_pad<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led_pad<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led_pad<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led_pad<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "ce_display_neg_pad<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "ce_display_neg_pad<2>" LOCATE = SITE "J1" LEVEL 1;
COMP "display_pad<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "ce_display_neg_pad<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "display_pad<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "ce_display_neg_pad<4>" LOCATE = SITE "K5" LEVEL 1;
COMP "display_pad<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "display_pad<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "display_pad<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "display_pad<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "display_pad<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "display_pad<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "boton_aba_pad" LOCATE = SITE "C9" LEVEL 1;
COMP "uart_rx_pad" LOCATE = SITE "N17" LEVEL 1;
COMP "uart_tx_pad" LOCATE = SITE "N18" LEVEL 1;
COMP "boton_der_pad" LOCATE = SITE "D9" LEVEL 1;
COMP "sw_pad<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw_pad<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw_pad<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw_pad<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw_pad<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw_pad<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw_pad<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw_pad<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "boton_arr_pad" LOCATE = SITE "A8" LEVEL 1;
COMP "boton_izq_pad" LOCATE = SITE "C4" LEVEL 1;
PIN XLXI_872/XLXI_42/XLXI_31/blk00000001/blk00000004_pins<92> = BEL
        "XLXI_872/XLXI_42/XLXI_31/blk00000001/blk00000004" PINNAME CLK;
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN XLXI_306/dcm_sp_inst_pins<1> = BEL "XLXI_306/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP XLXI_306_clk2x = BEL "XLXI_867/XLXI_9/XLXI_1" BEL
        "XLXI_867/XLXI_17_3/XLXI_2" BEL "XLXI_867/XLXI_17_3/XLXI_1" BEL
        "XLXI_867/XLXI_17_2/XLXI_2" BEL "XLXI_867/XLXI_17_2/XLXI_1" BEL
        "XLXI_867/XLXI_17_1/XLXI_2" BEL "XLXI_867/XLXI_17_1/XLXI_1" BEL
        "XLXI_867/XLXI_17_0/XLXI_2" BEL "XLXI_867/XLXI_17_0/XLXI_1" BEL
        "XLXI_867/XLXI_10/XLXI_2" BEL "XLXI_867/XLXI_10/XLXI_1" BEL
        "XLXI_306/clkout1_buf" BEL "XLXI_865/cnt_16" BEL "XLXI_865/cnt_15" BEL
        "XLXI_865/cnt_14" BEL "XLXI_865/cnt_13" BEL "XLXI_865/cnt_12" BEL
        "XLXI_865/cnt_11" BEL "XLXI_865/cnt_10" BEL "XLXI_865/cnt_9" BEL
        "XLXI_865/cnt_8" BEL "XLXI_865/cnt_7" BEL "XLXI_865/cnt_6" BEL
        "XLXI_865/cnt_5" BEL "XLXI_865/cnt_4" BEL "XLXI_865/cnt_3" BEL
        "XLXI_865/cnt_2" BEL "XLXI_865/cnt_1" BEL "XLXI_865/cnt_0" BEL
        "XLXI_865/U2/counter_21" BEL "XLXI_865/U2/counter_20" BEL
        "XLXI_865/U2/counter_19" BEL "XLXI_865/U2/counter_18" BEL
        "XLXI_865/U2/counter_17" BEL "XLXI_865/U2/counter_16" BEL
        "XLXI_865/U2/counter_15" BEL "XLXI_865/U2/counter_14" BEL
        "XLXI_865/U2/counter_13" BEL "XLXI_865/U2/counter_12" BEL
        "XLXI_865/U2/counter_11" BEL "XLXI_865/U2/counter_10" BEL
        "XLXI_865/U2/counter_9" BEL "XLXI_865/U2/counter_8" BEL
        "XLXI_865/U2/counter_7" BEL "XLXI_865/U2/counter_6" BEL
        "XLXI_865/U2/counter_5" BEL "XLXI_865/U2/counter_4" BEL
        "XLXI_865/U2/counter_3" BEL "XLXI_865/U2/counter_2" BEL
        "XLXI_865/U2/counter_1" BEL "XLXI_865/U2/counter_0" BEL
        "XLXI_865/U2/periodo_21" BEL "XLXI_865/U2/periodo_20" BEL
        "XLXI_865/U2/periodo_19" BEL "XLXI_865/U2/periodo_18" BEL
        "XLXI_865/U2/periodo_17" BEL "XLXI_865/U2/periodo_16" BEL
        "XLXI_865/U2/periodo_15" BEL "XLXI_865/U2/periodo_14" BEL
        "XLXI_865/U2/periodo_13" BEL "XLXI_865/U2/periodo_12" BEL
        "XLXI_865/U2/periodo_11" BEL "XLXI_865/U2/periodo_10" BEL
        "XLXI_865/U2/periodo_9" BEL "XLXI_865/U2/periodo_8" BEL
        "XLXI_865/U2/periodo_7" BEL "XLXI_865/U2/periodo_6" BEL
        "XLXI_865/U2/periodo_5" BEL "XLXI_865/U2/periodo_4" BEL
        "XLXI_865/U2/periodo_3" BEL "XLXI_865/U2/periodo_2" BEL
        "XLXI_865/U2/periodo_1" BEL "XLXI_865/U2/periodo_0" BEL
        "XLXI_865/U2/tiempo_on_21" BEL "XLXI_865/U2/tiempo_on_20" BEL
        "XLXI_865/U2/tiempo_on_19" BEL "XLXI_865/U2/tiempo_on_18" BEL
        "XLXI_865/U2/tiempo_on_17" BEL "XLXI_865/U2/tiempo_on_16" BEL
        "XLXI_865/U2/tiempo_on_15" BEL "XLXI_865/U2/tiempo_on_14" BEL
        "XLXI_865/U2/tiempo_on_13" BEL "XLXI_865/U2/tiempo_on_12" BEL
        "XLXI_865/U2/tiempo_on_11" BEL "XLXI_865/U2/tiempo_on_10" BEL
        "XLXI_865/U2/tiempo_on_9" BEL "XLXI_865/U2/tiempo_on_8" BEL
        "XLXI_865/U2/tiempo_on_7" BEL "XLXI_865/U2/tiempo_on_6" BEL
        "XLXI_865/U2/tiempo_on_5" BEL "XLXI_865/U2/tiempo_on_4" BEL
        "XLXI_865/U2/tiempo_on_3" BEL "XLXI_865/U2/tiempo_on_2" BEL
        "XLXI_865/U2/tiempo_on_1" BEL "XLXI_865/U2/tiempo_on_0" BEL
        "XLXI_865/U2/led_reg2" BEL "XLXI_865/U2/led_reg1" BEL
        "XLXI_865/U1/counter_21" BEL "XLXI_865/U1/counter_20" BEL
        "XLXI_865/U1/counter_19" BEL "XLXI_865/U1/counter_18" BEL
        "XLXI_865/U1/counter_17" BEL "XLXI_865/U1/counter_16" BEL
        "XLXI_865/U1/counter_15" BEL "XLXI_865/U1/counter_14" BEL
        "XLXI_865/U1/counter_13" BEL "XLXI_865/U1/counter_12" BEL
        "XLXI_865/U1/counter_11" BEL "XLXI_865/U1/counter_10" BEL
        "XLXI_865/U1/counter_9" BEL "XLXI_865/U1/counter_8" BEL
        "XLXI_865/U1/counter_7" BEL "XLXI_865/U1/counter_6" BEL
        "XLXI_865/U1/counter_5" BEL "XLXI_865/U1/counter_4" BEL
        "XLXI_865/U1/counter_3" BEL "XLXI_865/U1/counter_2" BEL
        "XLXI_865/U1/counter_1" BEL "XLXI_865/U1/counter_0" BEL
        "XLXI_865/U1/periodo_21" BEL "XLXI_865/U1/periodo_20" BEL
        "XLXI_865/U1/periodo_19" BEL "XLXI_865/U1/periodo_18" BEL
        "XLXI_865/U1/periodo_17" BEL "XLXI_865/U1/periodo_16" BEL
        "XLXI_865/U1/periodo_15" BEL "XLXI_865/U1/periodo_14" BEL
        "XLXI_865/U1/periodo_13" BEL "XLXI_865/U1/periodo_12" BEL
        "XLXI_865/U1/periodo_11" BEL "XLXI_865/U1/periodo_10" BEL
        "XLXI_865/U1/periodo_9" BEL "XLXI_865/U1/periodo_8" BEL
        "XLXI_865/U1/periodo_7" BEL "XLXI_865/U1/periodo_6" BEL
        "XLXI_865/U1/periodo_5" BEL "XLXI_865/U1/periodo_4" BEL
        "XLXI_865/U1/periodo_3" BEL "XLXI_865/U1/periodo_2" BEL
        "XLXI_865/U1/periodo_1" BEL "XLXI_865/U1/periodo_0" BEL
        "XLXI_865/U1/tiempo_on_21" BEL "XLXI_865/U1/tiempo_on_20" BEL
        "XLXI_865/U1/tiempo_on_19" BEL "XLXI_865/U1/tiempo_on_18" BEL
        "XLXI_865/U1/tiempo_on_17" BEL "XLXI_865/U1/tiempo_on_16" BEL
        "XLXI_865/U1/tiempo_on_15" BEL "XLXI_865/U1/tiempo_on_14" BEL
        "XLXI_865/U1/tiempo_on_13" BEL "XLXI_865/U1/tiempo_on_12" BEL
        "XLXI_865/U1/tiempo_on_11" BEL "XLXI_865/U1/tiempo_on_10" BEL
        "XLXI_865/U1/tiempo_on_9" BEL "XLXI_865/U1/tiempo_on_8" BEL
        "XLXI_865/U1/tiempo_on_7" BEL "XLXI_865/U1/tiempo_on_6" BEL
        "XLXI_865/U1/tiempo_on_5" BEL "XLXI_865/U1/tiempo_on_4" BEL
        "XLXI_865/U1/tiempo_on_3" BEL "XLXI_865/U1/tiempo_on_2" BEL
        "XLXI_865/U1/tiempo_on_1" BEL "XLXI_865/U1/tiempo_on_0" BEL
        "XLXI_865/U1/led_reg2" BEL "XLXI_865/U1/led_reg1" BEL
        "XLXI_872/XLXI_3/XLXI_37" BEL "XLXI_872/XLXI_3/XLXI_26" BEL
        "XLXI_872/XLXI_3/XLXI_6" BEL "XLXI_872/XLXI_3/XLXI_14/Q2" BEL
        "XLXI_872/XLXI_3/XLXI_14/Q1" BEL "XLXI_872/XLXI_3/XLXI_14/Q0" BEL
        "XLXI_872/XLXI_3/XLXI_14/Q3" BEL "XLXI_872/XLXI_42/XLXI_26" BEL
        "XLXI_872/XLXI_42/XLXI_30/Sreg0_FSM_FFd1" BEL
        "XLXI_872/XLXI_42/XLXI_30/Sreg0_FSM_FFd2" BEL
        "XLXI_872/XLXI_42/XLXI_30/Sreg0_machine.contador_2" BEL
        "XLXI_872/XLXI_42/XLXI_30/Sreg0_machine.contador_1" BEL
        "XLXI_872/XLXI_42/XLXI_30/Sreg0_machine.contador_0" BEL
        "XLXI_872/XLXI_42/XLXI_30/Sreg0_FSM_FFd3" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_0" BEL "XLXI_872/XLXI_42/XLXI_33/Q_1" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_2" BEL "XLXI_872/XLXI_42/XLXI_33/Q_3" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_4" BEL "XLXI_872/XLXI_42/XLXI_33/Q_5" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_6" BEL "XLXI_872/XLXI_42/XLXI_33/Q_7" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_8" BEL "XLXI_872/XLXI_42/XLXI_33/Q_9" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_10" BEL "XLXI_872/XLXI_42/XLXI_33/Q_11"
        BEL "XLXI_872/XLXI_42/XLXI_33/Q_12" BEL
        "XLXI_872/XLXI_42/XLXI_33/Q_13" BEL "XLXI_872/XLXI_42/XLXI_33/Q_14"
        BEL "XLXI_872/XLXI_42/XLXI_33/Q_15" BEL "XLXI_872/XLXI_42/XLXI_32/Q_0"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_1" BEL "XLXI_872/XLXI_42/XLXI_32/Q_2"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_3" BEL "XLXI_872/XLXI_42/XLXI_32/Q_4"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_5" BEL "XLXI_872/XLXI_42/XLXI_32/Q_6"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_7" BEL "XLXI_872/XLXI_42/XLXI_32/Q_8"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_9" BEL "XLXI_872/XLXI_42/XLXI_32/Q_10"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_11" BEL
        "XLXI_872/XLXI_42/XLXI_32/Q_12" BEL "XLXI_872/XLXI_42/XLXI_32/Q_13"
        BEL "XLXI_872/XLXI_42/XLXI_32/Q_14" BEL
        "XLXI_872/XLXI_42/XLXI_32/Q_15" BEL "XLXI_872/XLXI_60/XLXI_178_2" BEL
        "XLXI_872/XLXI_60/XLXI_178_1" BEL "XLXI_872/XLXI_60/XLXI_156_3" BEL
        "XLXI_872/XLXI_60/XLXI_156_2" BEL "XLXI_872/XLXI_60/XLXI_156_1" BEL
        "XLXI_872/XLXI_60/XLXI_156_0" BEL "XLXI_872/XLXI_60/XLXI_153_3" BEL
        "XLXI_872/XLXI_60/XLXI_153_2" BEL "XLXI_872/XLXI_60/XLXI_153_1" BEL
        "XLXI_872/XLXI_60/XLXI_153_0" BEL "XLXI_872/XLXI_60/XLXI_152_3" BEL
        "XLXI_872/XLXI_60/XLXI_152_2" BEL "XLXI_872/XLXI_60/XLXI_152_1" BEL
        "XLXI_872/XLXI_60/XLXI_152_0" BEL "XLXI_872/XLXI_60/XLXI_151_3" BEL
        "XLXI_872/XLXI_60/XLXI_151_2" BEL "XLXI_872/XLXI_60/XLXI_151_1" BEL
        "XLXI_872/XLXI_60/XLXI_151_0" BEL "XLXI_872/XLXI_62/XLXI_13" BEL
        "XLXI_872/XLXI_62/XLXI_4_3" BEL "XLXI_872/XLXI_62/XLXI_4_2" BEL
        "XLXI_872/XLXI_62/XLXI_4_1" BEL "XLXI_872/XLXI_62/XLXI_4_0" BEL
        "XLXI_872/XLXI_62/XLXI_1_3" BEL "XLXI_872/XLXI_62/XLXI_1_2" BEL
        "XLXI_872/XLXI_62/XLXI_1_1" BEL "XLXI_872/XLXI_62/XLXI_1_0" BEL
        "XLXI_872/XLXI_64/XLXI_84_3" BEL "XLXI_872/XLXI_64/XLXI_84_2" BEL
        "XLXI_872/XLXI_64/XLXI_84_1" BEL "XLXI_872/XLXI_64/XLXI_84_0" BEL
        "XLXI_872/XLXI_64/XLXI_83_3" BEL "XLXI_872/XLXI_64/XLXI_83_2" BEL
        "XLXI_872/XLXI_64/XLXI_83_1" BEL "XLXI_872/XLXI_64/XLXI_83_0" BEL
        "XLXI_872/XLXI_66/XLXI_82_7" BEL "XLXI_872/XLXI_66/XLXI_82_6" BEL
        "XLXI_872/XLXI_66/XLXI_82_5" BEL "XLXI_872/XLXI_66/XLXI_82_4" BEL
        "XLXI_872/XLXI_66/XLXI_82_3" BEL "XLXI_872/XLXI_66/XLXI_82_2" BEL
        "XLXI_872/XLXI_66/XLXI_82_1" BEL "XLXI_872/XLXI_66/XLXI_82_0" BEL
        "XLXI_872/XLXI_66/XLXI_81_7" BEL "XLXI_872/XLXI_66/XLXI_81_6" BEL
        "XLXI_872/XLXI_66/XLXI_81_5" BEL "XLXI_872/XLXI_66/XLXI_81_4" BEL
        "XLXI_872/XLXI_66/XLXI_81_3" BEL "XLXI_872/XLXI_66/XLXI_81_2" BEL
        "XLXI_872/XLXI_66/XLXI_81_1" BEL "XLXI_872/XLXI_66/XLXI_81_0" BEL
        "XLXI_872/XLXI_66/XLXI_80_7" BEL "XLXI_872/XLXI_66/XLXI_80_6" BEL
        "XLXI_872/XLXI_66/XLXI_80_5" BEL "XLXI_872/XLXI_66/XLXI_80_4" BEL
        "XLXI_872/XLXI_66/XLXI_80_3" BEL "XLXI_872/XLXI_66/XLXI_80_2" BEL
        "XLXI_872/XLXI_66/XLXI_80_1" BEL "XLXI_872/XLXI_66/XLXI_80_0" BEL
        "XLXI_872/XLXI_66/XLXI_79_7" BEL "XLXI_872/XLXI_66/XLXI_79_6" BEL
        "XLXI_872/XLXI_66/XLXI_79_5" BEL "XLXI_872/XLXI_66/XLXI_79_4" BEL
        "XLXI_872/XLXI_66/XLXI_79_3" BEL "XLXI_872/XLXI_66/XLXI_79_2" BEL
        "XLXI_872/XLXI_66/XLXI_79_1" BEL "XLXI_872/XLXI_66/XLXI_79_0" BEL
        "XLXI_872/XLXI_66/XLXI_78" BEL "XLXI_872/XLXI_84/XLXI_31/Q2" BEL
        "XLXI_872/XLXI_84/XLXI_31/Q1" BEL "XLXI_872/XLXI_84/XLXI_31/Q0" BEL
        "XLXI_872/XLXI_84/XLXI_31/Q3" BEL "XLXI_872/XLXI_84/XLXI_35/Q2" BEL
        "XLXI_872/XLXI_84/XLXI_35/Q1" BEL "XLXI_872/XLXI_84/XLXI_35/Q0" BEL
        "XLXI_872/XLXI_84/XLXI_35/Q3" BEL "XLXI_872/XLXI_84/XLXI_84/Q2" BEL
        "XLXI_872/XLXI_84/XLXI_84/Q1" BEL "XLXI_872/XLXI_84/XLXI_84/Q0" BEL
        "XLXI_872/XLXI_84/XLXI_84/Q3" BEL "XLXI_872/XLXI_84/XLXI_86/Q2" BEL
        "XLXI_872/XLXI_84/XLXI_86/Q1" BEL "XLXI_872/XLXI_84/XLXI_86/Q0" BEL
        "XLXI_872/XLXI_84/XLXI_86/Q3" BEL "XLXI_872/XLXI_83/XLXI_31/Q2" BEL
        "XLXI_872/XLXI_83/XLXI_31/Q1" BEL "XLXI_872/XLXI_83/XLXI_31/Q0" BEL
        "XLXI_872/XLXI_83/XLXI_31/Q3" BEL "XLXI_872/XLXI_83/XLXI_35/Q2" BEL
        "XLXI_872/XLXI_83/XLXI_35/Q1" BEL "XLXI_872/XLXI_83/XLXI_35/Q0" BEL
        "XLXI_872/XLXI_83/XLXI_35/Q3" BEL "XLXI_872/XLXI_83/XLXI_84/Q2" BEL
        "XLXI_872/XLXI_83/XLXI_84/Q1" BEL "XLXI_872/XLXI_83/XLXI_84/Q0" BEL
        "XLXI_872/XLXI_83/XLXI_84/Q3" BEL "XLXI_872/XLXI_83/XLXI_86/Q2" BEL
        "XLXI_872/XLXI_83/XLXI_86/Q1" BEL "XLXI_872/XLXI_83/XLXI_86/Q0" BEL
        "XLXI_872/XLXI_83/XLXI_86/Q3" BEL "XLXI_872/XLXI_83/XLXI_90/XLXI_1_7"
        BEL "XLXI_872/XLXI_83/XLXI_90/XLXI_1_6" BEL
        "XLXI_872/XLXI_83/XLXI_90/XLXI_1_5" BEL
        "XLXI_872/XLXI_83/XLXI_90/XLXI_1_4" BEL
        "XLXI_872/XLXI_83/XLXI_90/XLXI_1_3" BEL
        "XLXI_872/XLXI_83/XLXI_90/XLXI_1_2" BEL
        "XLXI_872/XLXI_83/XLXI_90/XLXI_1_1" BEL
        "XLXI_872/XLXI_83/XLXI_90/XLXI_1_0" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_7" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_6" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_5" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_4" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_3" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_2" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_1" BEL
        "XLXI_872/XLXI_84/XLXI_90/XLXI_1_0" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_7" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_6" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_5" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_4" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_3" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_2" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_1" BEL
        "XLXI_872/XLXI_83/XLXI_9/XLXI_1_0" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_7" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_6" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_5" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_4" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_3" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_2" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_1" BEL
        "XLXI_872/XLXI_84/XLXI_9/XLXI_1_0" BEL
        "XLXI_872/XLXI_83/XLXI_2/XLXI_41" BEL
        "XLXI_872/XLXI_83/XLXI_2/XLXI_40" BEL
        "XLXI_872/XLXI_83/XLXI_2/XLXI_39" BEL
        "XLXI_872/XLXI_83/XLXI_2/XLXI_38" BEL
        "XLXI_872/XLXI_83/XLXI_1/XLXI_41" BEL
        "XLXI_872/XLXI_83/XLXI_1/XLXI_40" BEL
        "XLXI_872/XLXI_83/XLXI_1/XLXI_39" BEL
        "XLXI_872/XLXI_83/XLXI_1/XLXI_38" BEL
        "XLXI_872/XLXI_84/XLXI_2/XLXI_41" BEL
        "XLXI_872/XLXI_84/XLXI_2/XLXI_40" BEL
        "XLXI_872/XLXI_84/XLXI_2/XLXI_39" BEL
        "XLXI_872/XLXI_84/XLXI_2/XLXI_38" BEL
        "XLXI_872/XLXI_84/XLXI_1/XLXI_41" BEL
        "XLXI_872/XLXI_84/XLXI_1/XLXI_40" BEL
        "XLXI_872/XLXI_84/XLXI_1/XLXI_39" BEL
        "XLXI_872/XLXI_84/XLXI_1/XLXI_38" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_FSM_FFd2" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_FSM_FFd3" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_FSM_FFd1" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_machine.contador_3" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_machine.contador_2" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_machine.contador_1" BEL
        "XLXI_872/XLXI_83/XLXI_46/Sreg0_machine.contador_0" BEL
        "XLXI_872/XLXI_83/XLXI_93/XLXI_41" BEL
        "XLXI_872/XLXI_83/XLXI_93/XLXI_40" BEL
        "XLXI_872/XLXI_83/XLXI_93/XLXI_39" BEL
        "XLXI_872/XLXI_83/XLXI_93/XLXI_38" BEL
        "XLXI_872/XLXI_83/XLXI_91/XLXI_41" BEL
        "XLXI_872/XLXI_83/XLXI_91/XLXI_40" BEL
        "XLXI_872/XLXI_83/XLXI_91/XLXI_39" BEL
        "XLXI_872/XLXI_83/XLXI_91/XLXI_38" BEL
        "XLXI_872/XLXI_84/XLXI_93/XLXI_41" BEL
        "XLXI_872/XLXI_84/XLXI_93/XLXI_40" BEL
        "XLXI_872/XLXI_84/XLXI_93/XLXI_39" BEL
        "XLXI_872/XLXI_84/XLXI_93/XLXI_38" BEL
        "XLXI_872/XLXI_84/XLXI_91/XLXI_41" BEL
        "XLXI_872/XLXI_84/XLXI_91/XLXI_40" BEL
        "XLXI_872/XLXI_84/XLXI_91/XLXI_39" BEL
        "XLXI_872/XLXI_84/XLXI_91/XLXI_38" BEL "XLXI_865/U2/tono_3" BEL
        "XLXI_865/U2/tono_2" BEL "XLXI_865/U2/tono_1" BEL "XLXI_865/U2/tono_0"
        BEL "XLXI_865/U1/tono_3" BEL "XLXI_865/U1/tono_2" BEL
        "XLXI_865/U1/tono_1" BEL "XLXI_865/U1/tono_0" BEL
        "XLXI_872/XLXI_61/entZ_sal" BEL
        "XLXI_872/XLXI_42/XLXI_30/ce_carga_salida" BEL
        "XLXI_872/XLXI_42/XLXI_30/ce_sum_res" BEL
        "XLXI_872/XLXI_42/XLXI_30/multip_ok" BEL
        "XLXI_872/XLXI_42/XLXI_30/sum_resZ" BEL
        "XLXI_872/XLXI_42/XLXI_30/ce_multip" BEL
        "XLXI_872/XLXI_42/XLXI_30/selector_multip1" BEL
        "XLXI_872/XLXI_42/XLXI_30/selector_multip2" BEL
        "XLXI_872/XLXI_83/XLXI_46/initZ" BEL
        "XLXI_872/XLXI_83/XLXI_46/ce_reg_salida" BEL
        "XLXI_872/XLXI_83/XLXI_46/dato_nuevo" BEL
        "XLXI_872/XLXI_83/XLXI_46/load" BEL "XLXI_865/U2/guardaDivision" BEL
        "XLXI_865/U1/guardaDivision" PIN
        "XLXI_872/XLXI_42/XLXI_31/blk00000001/blk00000004_pins<92>" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000021" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000022" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000023" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000024" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000025" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000026" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000027" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000028" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000029" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk0000002a" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk0000002b" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk0000002c" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk0000002d" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk0000002e" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk0000002f" BEL
        "XLXI_872/XLXI_42/XLXI_34/blk00000001/blk00000030" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000021" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000022" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000023" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000024" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000025" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000026" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000027" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000028" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000029" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk0000002a" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk0000002b" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk0000002c" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk0000002d" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk0000002e" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk0000002f" BEL
        "XLXI_872/XLXI_42/XLXI_35/XLXI_3/blk00000001/blk00000030" BEL
        "XLXI_306/clkf_buf" PIN "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>"
        PIN "XLXI_306/dcm_sp_inst_pins<1>";
TIMEGRP cuenta_dcm<13> = BEL "XLXI_1/XLXI_8/XLXI_1" BEL "XLXI_1/XLXI_7/XLXI_1"
        BEL "XLXI_1/XLXI_6/XLXI_1" BEL "XLXI_1/XLXI_5/XLXI_1" BEL "XLXI_314"
        BEL "XLXI_279_4/q_tmp" BEL "XLXI_279_3/q_tmp" BEL "XLXI_279_2/q_tmp"
        BEL "XLXI_279_1/q_tmp" BEL "XLXI_1/XLXI_1/XLXI_2/XLXI_12" BEL
        "XLXI_1/XLXI_1/XLXI_15/Q2" BEL "XLXI_1/XLXI_1/XLXI_15/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_15/Q0" BEL "XLXI_1/XLXI_1/XLXI_15/Q3" BEL
        "XLXI_1/XLXI_1/XLXI_12/Q2" BEL "XLXI_1/XLXI_1/XLXI_12/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_12/Q0" BEL "XLXI_1/XLXI_1/XLXI_12/Q3" BEL
        "XLXI_1/XLXI_1/XLXI_9/Q2" BEL "XLXI_1/XLXI_1/XLXI_9/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_9/Q0" BEL "XLXI_1/XLXI_1/XLXI_9/Q3" BEL
        "XLXI_1/XLXI_1/XLXI_1/Q2" BEL "XLXI_1/XLXI_1/XLXI_1/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_1/Q0" BEL "XLXI_1/XLXI_1/XLXI_1/Q3" BEL
        "XLXI_1/XLXI_39/XLXI_10/Q2" BEL "XLXI_1/XLXI_39/XLXI_10/Q1" BEL
        "XLXI_1/XLXI_39/XLXI_10/Q0" BEL "XLXI_1/XLXI_39/XLXI_10/Q3" BEL
        "XLXI_1/XLXI_39/XLXI_41/XLXI_1" BEL "XLXI_1/XLXI_39/XLXI_12" BEL
        "XLXI_1/XLXI_1/XLXI_2/XLXI_1" BEL "XLXI_1/XLXI_1/XLXI_2/XLXI_2" BEL
        "XLXI_1/XLXI_1/XLXI_2/XLXI_3" BEL "XLXI_309/blk00000001/blk00000025"
        BEL "XLXI_1/XLXI_1/XLXI_3/blk00000001/blk00000009" BEL
        "XLXI_1/XLXI_1/XLXI_3/blk00000001/blk0000000a" BEL
        "XLXI_1/XLXI_1/XLXI_3/blk00000001/blk0000000b";
PIN XLXI_142_pins<1> = BEL "XLXI_142" PINNAME CK0;
PIN XLXI_142_pins<2> = BEL "XLXI_142" PINNAME CK1;
TIMEGRP cuenta_dcm<7> = BEL "XLXI_14" BEL "XLXI_387/Q_0" BEL
        "XLXI_309/blk00000001/blk00000025" BEL
        "XLXI_309/blk00000001/blk00000026" BEL
        "XLXI_309/blk00000001/blk00000027" BEL
        "XLXI_309/blk00000001/blk00000028" BEL
        "XLXI_309/blk00000001/blk00000029" BEL
        "XLXI_309/blk00000001/blk0000002a" BEL
        "XLXI_309/blk00000001/blk0000002b" PIN "XLXI_142_pins<1>" PIN
        "XLXI_142_pins<2>" PIN "XLXI_142_pins<1>" PIN "XLXI_142_pins<2>";
TIMEGRP XLXI_306_clkfx = BEL "XLXI_306/clkout2_buf" BEL
        "XLXI_309/blk00000001/blk00000025" BEL
        "XLXI_309/blk00000001/blk00000026" BEL
        "XLXI_309/blk00000001/blk00000027" BEL
        "XLXI_309/blk00000001/blk00000028" BEL
        "XLXI_309/blk00000001/blk00000029" BEL
        "XLXI_309/blk00000001/blk0000002a" BEL
        "XLXI_309/blk00000001/blk0000002b" BEL
        "XLXI_309/blk00000001/blk0000002c" BEL
        "XLXI_309/blk00000001/blk0000002d" BEL
        "XLXI_309/blk00000001/blk0000002e" BEL
        "XLXI_309/blk00000001/blk0000002f" BEL
        "XLXI_309/blk00000001/blk00000030" BEL
        "XLXI_309/blk00000001/blk00000031" BEL
        "XLXI_309/blk00000001/blk00000032";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN XLXI_306/dcm_sp_inst_pins<3> = BEL "XLXI_306/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP ck_100MHz_pad = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "XLXI_306/dcm_sp_inst_pins<3>";
TS_ck_100MHz_pad = PERIOD TIMEGRP "ck_100MHz_pad" 100 MHz HIGH 50%;
TS_cuenta_dcm_7_ = PERIOD TIMEGRP "cuenta_dcm<7>" 0.02 MHz HIGH 50%;
TS_cuenta_dcm_13_ = PERIOD TIMEGRP "cuenta_dcm<13>" 0.002 MHz HIGH 50%;
TS_XLXI_306_clkfx = PERIOD TIMEGRP "XLXI_306_clkfx" TS_ck_100MHz_pad * 0.05
        HIGH 50%;
TS_XLXI_306_clk2x = PERIOD TIMEGRP "XLXI_306_clk2x" TS_ck_100MHz_pad HIGH 50%;
SCHEMATIC END;

